# Predict Students' Dropout and Academic Success

**For what purpose was the dataset created?**

The dataset was created in a project that aims to contribute to the reduction of academic dropout and failure in higher education, by using machine learning techniques to identify students at risk at an early stage of their academic path, so that strategies to support them can be put into place.

**Dataset Overview**

* The dataset has `4424` instances and `36` features.

* The dataset includes information known at the time of student enrollment – academic path, demographics, and social-economic factors. 

* The problem is formulated as a three category classification task (dropout, enrolled, and graduate) at the end of the normal duration of the course.

You can get more information about features from https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success

## Data Preparation

### Import necessary libraries

In [4]:
# For data exploration and visualization
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# For modelling
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,roc_auc_score,confusion_matrix
from sklearn.metrics import precision_recall_curve,roc_curve,RocCurveDisplay,ConfusionMatrixDisplay
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
from catboost import CatBoostClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
import warnings

### Load the data

In [9]:
df = pd.read_csv('data.csv',sep=';')

In [10]:
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [12]:
pd.set_option('display.max_columns',37)

In [13]:
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,5,9,127.3,1,0,0,1,1,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,3,3,142.5,1,0,0,0,1,0,19,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,9,9,124.8,1,0,0,0,1,0,19,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,5,3,119.6,1,0,0,1,0,0,20,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,9,9,141.5,0,0,0,1,0,0,45,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

### Quick review of data

In [14]:
df.columns

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance\t', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

Let's change some column names, because they are complex,long and hold additional space.

In [15]:
df.columns = ['MaritalStat', 'AppMode', 'AppOrder', 'Course', 
              'DayEvenAttend', 'PrevQual', 'PrevQualGrade', 'Nationality', 
              'MotherQual', 'FatherQual', 'MotherOcc', 'FatherOcc', 
              'AdmGrade', 'Displaced', 'EduSpecNeeds', 'Debtor', 
              'FeesUpToDate', 'Gender', 'Scholarship', 'AgeEnroll', 'International', 
              'CurrUnits1stCred', 'CurrUnits1stEnroll', 'CurrUnits1stEval', 
              'CurrUnits1stAppr', 'CurrUnits1stGrade', 'CurrUnits1stNoEval', 
              'CurrUnits2ndCred', 'CurrUnits2ndEnroll', 'CurrUnits2ndEval', 
              'CurrUnits2ndAppr', 'CurrUnits2ndGrade', 'CurrUnits2ndNoEval', 
              'UnempRate', 'InflRate', 'GDP', 'Target']

In [16]:
df.head()

,MaritalStat,AppMode,AppOrder,Course,DayEvenAttend,PrevQual,PrevQualGrade,Nationality,MotherQual,FatherQual,MotherOcc,FatherOcc,AdmGrade,Displaced,EduSpecNeeds,Debtor,FeesUpToDate,Gender,Scholarship,AgeEnroll,International,CurrUnits1stCred,CurrUnits1stEnroll,CurrUnits1stEval,CurrUnits1stAppr,CurrUnits1stGrade,CurrUnits1stNoEval,CurrUnits2ndCred,CurrUnits2ndEnroll,CurrUnits2ndEval,CurrUnits2ndAppr,CurrUnits2ndGrade,CurrUnits2ndNoEval,UnempRate,InflRate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,5,9,127.3,1,0,0,1,1,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,3,3,142.5,1,0,0,0,1,0,19,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,9,9,124.8,1,0,0,0,1,0,19,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,5,3,119.6,1,0,0,1,0,0,20,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,9,9,141.5,0,0,0,1,0,0,45,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [17]:
df.shape

(4424, 37)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MaritalStat         4424 non-null   int64
 1   AppMode             4424 non-null   int64
 2   AppOrder            4424 non-null   int64
 3   Course              4424 non-null   int64
 4   DayEvenAttend       4424 non-null   int64
 5   PrevQual            4424 non-null   int64
 6   PrevQualGrade       4424 non-null   float64
 7   Nationality         4424 non-null   int64
 8   MotherQual          4424 non-null   int64
 9   FatherQual          4424 non-null   int64
 10  MotherOcc           4424 non-null   int64
 11  FatherOcc           4424 non-null   int64
 12  AdmGrade            4424 non-null   float64
 13  Displaced           4424 non-null   int64
 14  EduSpecNeeds        4424 non-null   int64
 15  Debtor              4424 non-null   int64
 16  FeesUpToDate        4424 non-null   int64
 17  Gender              4424 non-null   int64
 18  Scholarship         4424 non-null   int64
 19  AgeEnroll           4424 non-null   int64
 20  International       4424 non-null   int64
 21  CurrUnits1stCred    4424 non-null   int64
 22  CurrUnits1stEnroll  4424 non-null   int64
 23  CurrUnits1stEval    4424 non-null   int64
 24  CurrUnits1stAppr    4424 non-null   int64
 25  CurrUnits1stGrade   4424 non-null   float64
 26  CurrUnits1stNoEval  4424 non-null   int64
 27  CurrUnits2ndCred    4424 non-null   int64
 28  CurrUnits2ndEnroll  4424 non-null   int64
 29  CurrUnits2ndEval    4424 non-null   int64
 30  CurrUnits2ndAppr    4424 non-null   int64
 31  CurrUnits2ndGrade   4424 non-null   float64
 32  CurrUnits2ndNoEval  4424 non-null   int64
 33  UnempRate           4424 non-null   float64
 34  InflRate            4424 non-null   float64
 35  GDP                 4424 non-null   float64
 36  Target              4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

Except target variable all variables are numerical.

In [20]:
df.describe()

,MaritalStat,AppMode,AppOrder,Course,DayEvenAttend,PrevQual,PrevQualGrade,Nationality,MotherQual,FatherQual,MotherOcc,FatherOcc,AdmGrade,Displaced,EduSpecNeeds,Debtor,FeesUpToDate,Gender,Scholarship,AgeEnroll,International,CurrUnits1stCred,CurrUnits1stEnroll,CurrUnits1stEval,CurrUnits1stAppr,CurrUnits1stGrade,CurrUnits1stNoEval,CurrUnits2ndCred,CurrUnits2ndEnroll,CurrUnits2ndEval,CurrUnits2ndAppr,CurrUnits2ndGrade,CurrUnits2ndNoEval,UnempRate,InflRate,GDP
count,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000
mean,1.178571,18.669078,1.727848,8856.642631,0.890823,4.577758,132.613314,1.873192,19.561935,22.275316,10.960895,11.032324,126.978119,0.548373,0.011528,0.113698,0.880651,0.351718,0.248418,23.265145,0.024864,0.709991,6.270570,8.299051,4.706600,10.640822,0.137658,0.541817,6.232143,8.063291,4.435805,10.230206,0.150316,11.566139,1.228029,0.001969
std,0.605747,17.484682,1.313793,2063.566416,0.311897,10.216592,13.188332,6.914514,15.603186,15.343108,26.418253,25.263040,14.482001,0.497711,0.106760,0.317480,0.324235,0.477560,0.432144,7.587816,0.155729,2.360507,2.480178,4.179106,3.094238,4.843663,0.690880,1.918546,2.195951,3.947951,3.014764,5.210808,0.753774,2.663850,1.382711,2.269935
min,1.000000,1.000000,0.000000,33.000000,0.000000,1.000000,95.000000,1.000000,1.000000,1.000000,0.000000,0.000000,95.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,1.000000,1.000000,1.000000,9085.000000,1.000000,1.000000,125.000000,1.000000,2.000000,3.000000,4.000000,4.000000,117.900000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,19.000000,0.000000,0.000000,5.000000,6.000000,3.000000,11.000000,0.000000,0.000000,5.000000,6.000000,2.000000,10.750000,0.000000,9.400000,0.300000,-1.700000
50%,1.000000,17.000000,1.000000,9238.000000,1.000000,1.000000,133.100000,1.000000,19.000000,19.000000,5.000000,7.000000,126.100000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,20.000000,0.000000,0.000000,6.000000,8.000000,5.000000,12.285714,0.000000,0.000000,6.000000,8.000000,5.000000,12.200000,0.000000,11.100000,1.400000,0.320000
75%,1.000000,39.000000,2.000000,9556.000000,1.000000,1.000000,140.000000,1.000000,37.000000,37.000000,9.000000,9.000000,134.800000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,25.000000,0.000000,0.000000,7.000000,10.000000,6.000000,13.400000,0.000000,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000
max,6.000000,57.000000,9.000000,9991.000000,1.000000,43.000000,190.000000,109.000000,44.000000,44.000000,194.000000,195.000000,190.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,70.000000,1.000000,20.000000,26.000000,45.000000,26.000000,18.875000,12.000000,19.000000,23.000000,33.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000

In [21]:
df.duplicated().sum()

0

There is no duplicate values.

In [23]:
df.isnull().sum().sort_values()

MaritalStat           0
International         0
CurrUnits1stCred      0
CurrUnits1stEnroll    0
CurrUnits1stEval      0
CurrUnits1stAppr      0
CurrUnits1stGrade     0
CurrUnits1stNoEval    0
CurrUnits2ndCred      0
CurrUnits2ndEnroll    0
CurrUnits2ndEval      0
CurrUnits2ndAppr      0
CurrUnits2ndGrade     0
CurrUnits2ndNoEval    0
UnempRate             0
InflRate              0
AgeEnroll             0
GDP                   0
Scholarship           0
FeesUpToDate          0
AppMode               0
AppOrder              0
Course                0
DayEvenAttend         0
PrevQual              0
PrevQualGrade         0
Nationality           0
MotherQual            0
FatherQual            0
MotherOcc             0
FatherOcc             0
AdmGrade              0
Displaced             0
EduSpecNeeds          0
Debtor                0
Gender                0
Target                0
dtype: int64

That's so good, there is no missing values.

Let's look at distribution of values in each column.

In [27]:
for i in df.columns:
  print(df[i].value_counts())
  print()

MaritalStat
1    3919
2     379
4      91
5      25
6       6
3       4
Name: count, dtype: int64

AppMode
1     1708
17     872
39     785
43     312
44     213
7      139
18     124
42      77
51      59
16      38
53      35
15      30
5       16
10      10
2        3
57       1
26       1
27       1
Name: count, dtype: int64

AppOrder
1    3026
2     547
3     309
4     249
5     154
6     137
9       1
0       1
Name: count, dtype: int64

Course
9500    766
9147    380
9238    355
9085    337
9773    331
9670    268
9991    268
9254    252
9070    226
171     215
8014    215
9003    210
9853    192
9119    170
9130    141
9556     86
33       12
Name: count, dtype: int64

DayEvenAttend
1    3941
0     483
Name: count, dtype: int64

PrevQual
1     3717
39     219
19     162
3      126
12      45
40      40
42      36
2       23
6       16
9       11
4        8
38       7
43       6
10       4
15       2
5        1
14       1
Name: count, dtype: int64

PrevQualGrade
133.1    491
130.0    375
140.0    336
120.0    278
150.0    162
125.0    122
135.0    108
110.0    101
131.0     99
160.0     95
136.0     93
127.0     93
132.0     91
133.0     88
122.0     87
137.0     83
126.0     82
128.0     79
141.0     79
123.0     77
100.0     76
134.0     72
143.0     72
138.0     70
121.0     69
145.0     62
124.0     61
142.0     58
129.0     57
117.0     52
118.0     52
139.0     49
148.0     47
115.0     44
116.0     42
144.0     36
147.0     36
146.0     31
170.0     26
119.0     24
151.0     23
149.0     22
114.0     20
152.0     19
111.0     18
113.0     18
154.0     17
112.0     17
108.0     15
157.0     14
153.0     13
156.0     13
158.0     12
106.0     10
180.0      9
162.0      9
161.0      8
168.0      8
163.0      7
164.0      6
159.0      6
109.0      6
172.0      6
155.0      6
101.0      6
102.0      5
107.0      5
105.0      4
165.0      4
167.0      4
103.0      3
99.0       2
178.0      2
177.0      2
96.0       2
190.0      2
166.0      2
119.1      1
138.7      1
138.6      1
169.0      1
118.9      1
124.4      1
123.9      1
145.7      1
163.3      1
154.4      1
95.0       1
140.8      1
182.0      1
174.0      1
148.9      1
184.4      1
97.0       1
139.3      1
176.0      1
133.8      1
175.0      1
117.4      1
188.0      1
126.6      1
Name: count, dtype: int64

Nationality
1      4314
41       38
26       14
22       13
6        13
24        5
100       3
11        3
103       3
21        2
101       2
62        2
25        2
2         2
105       2
32        1
13        1
109       1
108       1
14        1
17        1
Name: count, dtype: int64

MotherQual
1     1069
37    1009
19     953
38     562
3      438
34     130
2       83
4       49
12      42
5       21
40       9
9        8
39       8
41       6
6        4
42       4
43       4
29       3
10       3
11       3
36       3
35       3
30       3
14       2
18       1
22       1
27       1
26       1
44       1
Name: count, dtype: int64

FatherQual
37    1209
19     968
1      904
38     702
3      282
34     112
2       68
4       39
12      38
39      20
5       18
11      10
36       8
9        5
40       5
22       4
30       4
14       4
29       3
35       2
41       2
43       2
10       2
6        2
26       2
25       1
27       1
33       1
44       1
20       1
42       1
18       1
13       1
31       1
Name: count, dtype: int64

MotherOcc
9      1577
4       817
5       530
3       351
2       318
7       272
0       144
1       102
6        91
90       70
8        36
191      26
99       17
194      11
141       8
123       7
144       6
175       5
192       5
193       4
134       4
10        4
143       3
151       3
132       3
152       2
122       2
153       2
173       1
125       1
131       1
171       1
Name: count, dtype: int64

FatherOcc
9      1010
7       666
5       516
4       386
3       384
8       318
10      266
6       242
2       197
1       134
0       128
90       65
99       19
193      15
144       8
171       8
192       6
163       5
103       4
175       4
135       3
183       3
152       3
123       3
181       3
194       2
182       2
112       2
151       2
172       2
122       2
102       2
153       1
101       1
114       1
174       1
141       1
132       1
134       1
143       1
131       1
161       1
195       1
121       1
124       1
154       1
Name: count, dtype: int64

AdmGrade
130.0    162
140.0    153
120.0    145
100.0    116
150.0     81
110.0     77
160.0     43
128.2     39
123.0     26
128.0     26
122.0     25
126.3     25
115.0     25
127.0     25
125.0     24
126.0     24
118.0     24
133.0     22
121.0     22
130.8     22
116.5     22
127.3     22
129.0     20
131.0     20
121.5     20
124.3     19
126.8     19
121.7     19
120.4     18
130.2     18
129.3     18
129.8     18
117.8     18
116.1     17
124.0     17
117.0     17
118.4     17
128.5     17
128.8     16
120.5     16
121.8     16
127.5     16
135.0     15
119.0     15
121.3     15
126.1     15
116.9     15
132.0     15
131.5     15
122.5     15
122.3     14
137.0     14
119.1     14
122.8     14
106.0     14
123.3     14
170.0     14
132.5     14
118.8     14
115.2     14
113.5     14
136.1     13
126.9     13
114.8     13
132.8     13
125.5     13
126.5     13
126.7     13
131.8     13
118.9     13
113.0     12
125.7     12
116.0     12
123.7     12
120.2     12
126.2     12
127.8     12
119.4     12
124.8     12
112.0     12
111.9     12
120.3     12
124.5     12
122.1     12
121.4     12
108.0     12
120.1     12
128.4     12
123.5     12
133.5     12
125.3     12
133.9     12
138.0     12
114.3     12
129.9     12
120.8     11
95.0      11
125.1     11
117.5     11
115.8     11
118.3     11
123.2     11
118.1     11
131.6     11
113.9     11
134.0     11
122.2     11
125.4     11
117.1     11
113.2     11
133.4     11
141.0     11
116.7     11
134.3     11
120.7     11
137.8     11
105.0     11
133.3     10
116.3     10
121.6     10
125.2     10
127.1     10
124.2     10
129.5     10
119.7     10
130.5     10
124.6     10
126.6     10
136.3     10
111.3     10
101.0     10
119.8     10
133.8     10
131.3     10
142.8     10
122.6     10
133.2     10
135.8     10
127.6     10
115.5     10
114.0     10
124.9      9
114.6      9
122.7      9
116.8      9
127.2      9
135.9      9
131.1      9
131.7      9
123.8      9
119.6      9
119.5      9
118.7      9
127.9      9
132.9      9
123.4      9
112.9      9
119.9      9
138.3      9
119.3      9
118.2      9
139.0      9
114.5      9
117.2      9
121.2      9
125.8      9
136.0      9
134.5      9
123.9      9
138.4      9
123.6      9
145.0      9
113.7      8
109.3      8
131.9      8
114.2      8
129.7      8
132.1      8
107.5      8
143.0      8
121.1      8
111.0      8
126.4      8
108.7      8
117.4      8
107.0      8
131.4      8
128.3      8
141.7      8
125.6      8
112.6      8
117.9      8
130.3      8
102.5      8
111.1      8
129.1      7
115.6      7
125.9      7
127.7      7
146.2      7
113.3      7
112.5      7
122.9      7
133.1      7
96.0       7
124.4      7
139.8      7
129.4      7
104.0      7
134.8      7
117.3      7
115.9      7
130.7      7
121.9      7
109.0      7
141.4      7
115.1      7
132.6      7
124.1      7
133.7      7
114.9      7
106.1      7
113.4      7
132.4      7
112.3      7
146.5      7
118.5      7
132.3      6
127.4      6
144.3      6
138.8      6
137.5      6
138.1      6
155.0      6
137.2      6
115.7      6
134.1      6
124.7      6
128.7      6
97.0       6
130.6      6
129.2      6
130.4      6
120.6      6
136.7      6
128.6      6
134.7      6
134.9      6
117.7      6
118.6      6
134.6      6
111.8      6
113.6      6
152.0      6
113.8      6
135.5      6
137.6      6
110.2      6
140.2      6
134.4      6
103.5      6
116.4      6
135.6      6
137.3      5
149.0      5
140.7      5
136.5      5
112.4      5
141.5      5
129.6      5
142.5      5
154.0      5
138.5      5
141.8      5
148.0      5
123.1      5
142.2      5
103.0      5
140.8      5
142.3      5
143.6      5
107.8      5
146.7      5
142.0      5
130.9      5
137.1      5
136.8      5
133.6      5
151.0      5
122.4      5
153.0      5
136.2      5
140.9      5
139.4      5
117.6      5
136.6      5
110.5      5
146.0      5
111.6      5
112.2      5
152.4      5
134.2      5
149.5      5
116.6      5
110.7      5
153.8      4
150.3      4
142.7      4
108.3      4
139.2      4
140.5      4
155.5      4
135.7      4
143.4      4
138.6      4
138.7      4
107.4      4
116.2      4
109.1      4
150.2      4
120.9      4
114.7      4
110.4      4
137.4      4
154.4      4
131.2      4
128.9      4
110.8      4
114.4      4
130.1      4
132.7      4
105.9      4
157.0      4
135.4      4
148.8      4
110.3      4
148.5      4
143.3      4
147.5      4
111.5      4
111.7      4
109.5      4
180.0      4
106.7      4
155.7      4
105.8      3
147.7      3
111.4      3
137.9      3
108.4      3
139.7      3
149.2      3
136.9      3
144.7      3
101.5      3
155.3      3
147.8      3
138.9      3
106.8      3
150.8      3
147.0      3
149.8      3
109.8      3
115.3      3
153.5      3
140.4      3
145.3      3
108.5      3
112.1      3
110.1      3
106.4      3
109.7      3
105.5      3
162.3      3
156.0      3
99.0       3
149.9      3
161.9      3
119.2      3
115.4      3
128.1      3
141.3      3
98.0       3
113.1      3
101.8      3
132.2      3
148.9      3
144.9      3
144.2      3
143.9      3
106.5      3
102.0      3
139.9      3
136.4      3
190.0      3
137.7      3
155.1      3
152.8      3
144.1      3
135.1      3
151.3      3
143.5      3
100.5      3
151.1      3
150.5      3
146.4      2
149.7      2
98.6       2
144.5      2
146.1      2
112.8      2
107.2      2
105.2      2
156.3      2
105.3      2
149.3      2
104.8      2
153.6      2
156.5      2
166.0      2
144.6      2
143.8      2
151.4      2
148.7      2
104.1      2
145.2      2
161.2      2
165.8      2
141.2      2
101.3      2
141.6      2
144.8      2
145.9      2
150.9      2
160.1      2
106.2      2
153.7      2
106.6      2
95.5       2
104.5      2
154.1      2
156.9      2
110.6      2
162.0      2
143.2      2
141.1      2
152.1      2
144.4      2
135.3      2
146.8      2
100.9      2
154.6      2
163.3      2
156.1      2
107.7      2
148.4      2
172.0      2
147.9      2
155.6      2
107.1      2
100.1      2
103.4      2
157.9      2
108.2      2
100.8      2
161.0      2
159.3      2
100.6      2
151.6      2
162.5      2
107.3      2
144.0      2
112.7      2
159.0      2
105.7      2
101.7      2
139.5      2
153.9      2
145.6      2
147.6      2
98.9       2
146.6      2
104.2      1
167.3      1
102.2      1
102.4      1
160.4      1
157.4      1
103.6      1
165.2      1
168.2      1
102.8      1
163.1      1
151.2      1
99.6       1
105.1      1
162.1      1
162.2      1
163.6      1
159.5      1
103.8      1
135.2      1
161.8      1
153.1      1
145.7      1
173.3      1
176.0      1
167.1      1
154.5      1
151.7      1
142.4      1
101.6      1
148.6      1
160.5      1
109.6      1
168.6      1
155.9      1
96.1       1
98.5       1
152.9      1
157.8      1
162.4      1
142.6      1
179.6      1
169.2      1
103.7      1
163.0      1
154.7      1
140.3      1
154.3      1
109.9      1
100.2      1
108.6      1
149.4      1
148.2      1
152.7      1
158.0      1
158.1      1
143.1      1
109.4      1
175.6      1
164.9      1
157.5      1
108.8      1
105.4      1
139.1      1
184.0      1
168.5      1
138.2      1
152.3      1
169.7      1
159.7      1
159.9      1
171.2      1
154.8      1
155.8      1
140.1      1
96.7       1
163.7      1
147.2      1
180.4      1
174.7      1
99.7       1
163.4      1
99.5       1
166.9      1
178.3      1
158.7      1
153.2      1
143.7      1
183.5      1
163.5      1
166.6      1
162.9      1
148.3      1
159.1      1
146.9      1
97.2       1
168.0      1
139.3      1
156.8      1
154.9      1
150.4      1
95.1       1
157.7      1
104.6      1
178.0      1
161.1      1
107.6      1
160.6      1
145.8      1
95.8       1
105.6      1
150.1      1
165.7      1
156.4      1
104.7      1
151.5      1
158.3      1
176.7      1
98.7       1
99.3       1
100.7      1
98.1       1
164.3      1
152.5      1
151.9      1
145.4      1
97.4       1
146.3      1
161.5      1
155.2      1
106.3      1
97.5       1
139.6      1
150.6      1
184.4      1
102.6      1
147.3      1
156.2      1
Name: count, dtype: int64

Displaced
1    2426
0    1998
Name: count, dtype: int64

EduSpecNeeds
0    4373
1      51
Name: count, dtype: int64

Debtor
0    3921
1     503
Name: count, dtype: int64

FeesUpToDate
1    3896
0     528
Name: count, dtype: int64

Gender
0    2868
1    1556
Name: count, dtype: int64

Scholarship
0    3325
1    1099
Name: count, dtype: int64

AgeEnroll
18    1036
19     911
20     599
21     322
22     174
24     131
23     108
26      94
25      93
27      91
28      83
29      66
32      61
34      60
31      55
35      49
30      49
33      45
37      42
39      38
36      35
41      31
38      29
43      25
40      23
45      22
44      21
47      18
50      16
42      13
49      13
46      12
48      11
51       7
54       7
53       7
17       5
55       5
52       4
59       3
58       3
57       2
60       2
61       1
70       1
62       1
Name: count, dtype: int64

International
0    4314
1     110
Name: count, dtype: int64

CurrUnits1stCred
0     3847
2       94
1       85
3       69
6       51
4       47
7       41
5       41
8       31
9       27
11      17
10      15
14      15
13      13
12      12
15       5
18       4
17       3
16       3
19       2
20       2
Name: count, dtype: int64

CurrUnits1stEnroll
6     1910
5     1010
7      656
8      296
0      180
12      66
10      52
11      45
9       36
15      25
14      22
4       21
13      20
18      19
17      16
16      13
3       10
2        9
1        7
21       6
19       2
23       2
26       1
Name: count, dtype: int64

CurrUnits1stEval
8     791
7     703
6     598
9     402
0     349
10    340
11    239
12    223
5     220
13    140
14    105
15     70
16     47
17     33
18     30
19     23
4      19
21     17
20     12
22     10
23      9
2       8
3       6
24      6
1       6
26      4
25      3
27      2
29      2
45      2
32      1
36      1
31      1
28      1
33      1
Name: count, dtype: int64

CurrUnits1stAppr
6     1171
5      723
0      718
7      471
4      433
3      269
2      160
1      127
8      108
11      49
12      44
9       40
13      26
10      24
18      15
14      14
17      10
15       7
16       5
21       4
20       3
19       2
26       1
Name: count, dtype: int64

CurrUnits1stGrade
0.000000     718
12.000000    205
13.000000    147
11.000000    138
11.500000     89
14.000000     85
12.500000     84
10.000000     82
12.666667     82
12.333333     82
11.666667     70
13.500000     63
13.333333     56
11.333333     55
10.500000     49
12.166667     46
11.250000     45
12.600000     45
11.600000     44
11.800000     43
12.200000     40
11.833333     40
12.833333     37
12.250000     37
13.666667     36
10.666667     36
11.750000     35
11.400000     35
15.000000     34
13.166667     34
12.400000     33
13.833333     33
14.500000     31
12.800000     29
13.200000     28
11.200000     24
10.800000     24
12.750000     24
13.400000     23
14.166667     23
13.600000     23
13.250000     22
14.333333     21
10.750000     21
14.200000     20
12.285714     19
13.571429     19
13.428571     19
14.666667     18
10.333333     16
12.857143     16
13.750000     15
14.833333     15
13.857143     15
13.800000     15
11.166667     15
13.285714     15
10.600000     14
16.000000     14
14.250000     13
12.571429     13
13.714286     13
11.714286     13
14.400000     12
14.428571     12
13.142857     11
12.142857     11
11.571429     10
15.166667     10
11.857143      9
11.285714      9
12.714286      8
15.500000      8
14.600000      8
10.200000      8
14.857143      8
10.833333      8
14.714286      8
10.250000      7
12.625000      7
15.200000      7
13.625000      7
13.700000      6
13.875000      6
12.428571      6
14.750000      6
15.333333      6
14.142857      6
12.375000      6
15.800000      5
13.125000      5
12.125000      5
13.375000      5
16.500000      5
15.714286      5
11.428571      5
11.875000      5
11.375000      5
14.800000      5
12.700000      5
17.000000      5
14.285714      5
11.142857      5
12.860000      4
15.571429      4
12.875000      4
15.666667      4
12.650000      4
13.442857      4
13.314286      4
15.125000      4
12.100000      4
10.571429      4
15.400000      4
13.300000      4
12.160000      4
10.400000      4
13.900000      3
14.700000      3
13.533333      3
15.285714      3
10.857143      3
13.780000      3
10.714286      3
14.850000      3
15.250000      3
14.150000      3
10.923077      3
14.350000      3
11.971429      3
11.625000      3
16.142857      3
11.916667      3
12.766667      3
10.888889      3
12.900000      3
14.060000      3
16.166667      3
13.766667      3
15.750000      3
11.555556      3
12.222222      3
14.625000      3
11.900000      3
11.888889      3
12.471429      3
14.125000      3
12.916667      3
14.757143      2
12.545455      2
14.314286      2
13.111111      2
14.014286      2
13.761111      2
12.771429      2
12.733333      2
13.976667      2
11.980000      2
13.444444      2
18.000000      2
12.357143      2
13.966667      2
13.818182      2
15.307692      2
15.833333      2
11.454545      2
12.846154      2
11.940000      2
15.692308      2
12.828571      2
13.154286      2
12.950000      2
11.545455      2
16.333333      2
12.385714      2
13.340000      2
17.333333      2
14.652857      2
13.585714      2
13.614286      2
15.428571      2
12.071429      2
14.875000      2
12.450000      2
12.887500      2
13.555556      2
14.454545      2
16.400000      2
13.846154      2
12.620000      2
14.222222      2
10.642857      2
13.683333      2
13.516667      2
13.798571      2
15.090909      2
13.385714      2
13.266667      2
15.142857      2
13.150000      2
12.320000      2
13.454545      2
13.542857      2
11.975000      2
12.153846      2
13.642857      2
12.242857      2
12.783333      2
11.950000      2
12.940000      2
12.214286      2
12.457143      2
12.485714      2
12.727273      2
14.266667      2
13.971429      2
14.727273      2
13.181818      2
13.550000      2
12.636364      2
13.785714      2
12.401429      2
12.785714      2
11.727273      2
12.555556      2
11.357143      2
10.375000      2
14.100000      2
13.075000      2
13.763750      2
12.828750      2
13.462857      2
13.416667      2
12.183333      2
14.300000      2
13.100000      2
13.457143      2
16.200000      2
14.066667      1
12.414286      1
12.444444      1
13.612500      1
14.565714      1
13.276250      1
14.375000      1
13.390000      1
12.648333      1
13.387500      1
13.958333      1
13.677143      1
14.615385      1
14.711111      1
13.755000      1
12.982857      1
12.758333      1
14.572857      1
13.422222      1
11.820000      1
13.801429      1
14.137143      1
13.670000      1
12.757143      1
10.928571      1
12.971667      1
14.636364      1
12.858000      1
14.307692      1
14.777778      1
13.272727      1
15.083333      1
12.444286      1
12.513333      1
11.155556      1
11.575000      1
13.198571      1
13.875714      1
13.153846      1
14.441429      1
13.232500      1
13.073750      1
13.464286      1
14.402500      1
15.468750      1
18.875000      1
15.885714      1
15.888889      1
12.492857      1
13.796667      1
14.962857      1
13.403750      1
11.294444      1
13.433333      1
12.742857      1
14.935714      1
12.528571      1
12.363636      1
13.058824      1
13.391667      1
15.115000      1
14.085714      1
10.166667      1
12.121429      1
14.983333      1
13.983333      1
12.692308      1
14.414286      1
14.252500      1
15.075714      1
13.778571      1
13.072857      1

## Exploratory Data Analysis